<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Užsakyti{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('PhoneIcon.png') }}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        {% stylesheets filter="scssphp" output="css/main.css"
        "scss/main.scss"
        %}
        <link rel="stylesheet" href="/css/main.css" />
        {% endstylesheets %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div class="bar"></div>
        <div class="menu">
            <a class="menuBtn" href="/">Užsakyti</a>
            <a class="menuBtn" href="/list">Sąrašas</a>
        </div>
        {% block body %}{% endblock %}

    </body>
</html>
